# Code: process.env.VARIABLE

# Server config
PORT=3000

# ip adresses
MUSIC_BOX_IP=123.123.123.123
KÜCHE_BOX_IP=123.123.123.123
WOHNZIMMER_BOX_IP=123.123.123.123

# api, misc
MISTRAL_API_KEY=12345678abcdefg
LOCATION=newYork

# ntfy channels topic names only
NTFY_GET_CLIPBOARD=NTFY-Channel-Name
NTFY_SET_CLIPBOARD=NTFY-Channel-Name
NTFY_BLUETOOTH_ON=NTFY-Channel-Name
NTFY_BLUETOOTH_OFF=NTFY-Channel-Name
NTFY_TIMER=NTFY-Channel-Name
NTFY_DLNA=NTFY-Channel-Name
NTFY_DLNAEND=NTFY-Channel-Name
NTFY_BOTTOMTV=NTFY-Channel-Name