<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/homework.js" type="module"></script>
  <title>Google - udm=14</title>
</head>
<body>
  <form 
    action="https://www.google.com/search" 
    method="GET" 
    target="_blank"
  >
    <input type="hidden" name="udm" value="14">
    <input type="text" autocomplete="off" name="q" placeholder="Google..." required>
    <button type="submit">Suchen</button>
  </form>
</body>
</html>
