<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="/js/homework/homework.page.js"></script>
  <link rel="stylesheet" href="/css/main.css">
  <title>Homework</title>
</head>
<body>
  <p>NOCH NICHT FERTIG</p>
  <p id="homework-text-display"></p>
  <p id="homework-error-display"></p>
</body>
</html>