<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Dashboard</title>
</head>
<body>
  <h1>Raspberry Pi Dashboard</h1>
  <a href="/homework">Homework</a>
  <a href="/stats">Stats viewer</a>
</body>
</html>