<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Dashboard</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <!-- PROGRESSIVE WEB APP -->
  <link rel="manifest" href="/manifest.json">
  <script type="module">
    navigator.serviceWorker.register("/sw.js")
  </script>
</head>
<body>
  <h1>Raspberry Pi Dashboard</h1>
  <a href="/homework">Homework</a>
  <a href="/stats">Stats viewer</a>
  <a href="http://raspiiii/admin/">Pihole Dashboard</a>
  <a href="/code/?folder=/home/pi/Dashboard">VS Code Server</a>
  <a href="" onclick="event.preventDefault(); fetch('/api/code-start');">Code Start</a>
  <a href="" onclick="event.preventDefault(); fetch('/api/code-stop');">Code Stop</a>
</body>
</html>
