<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Vocab</title>
</head>
<body>
  <h1>Vocab Trainer</h1>
  <a href="/vocab/add">Add</a>
  <a href="/vocab/learn">Learn</a>
</body>
</html>
