<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Vocab</title>

  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/vocab_add.js" type="module"></script>
</head>

<body>

  <h1>Add Vocab</h1>

  <form id="addVocabForm" autocomplete="off">
    <textarea
      autocomplete="off"
      name="vocab" 
      placeholder="Deutsch,Andere" 
      required></textarea>

    <button type="submit">Hinzufügen</button>
  </form>
  
  <h1>Alle Vocabs</h1>

  <table class="vocab-table">
    <thead>
      <tr>
        <th>Deutsch</th>
        <th>Andere</th>
        <th>Punkte</th>
        <th>Aktionen</th>
      </tr>
    </thead>

    <tbody>
      <% 
        // Wir sortieren das Array aus [Key, Value] Paaren alphabetisch nach dem Key (Index 0)
        const sortedVocab = Object.entries(vocab).sort((a, b) => {
        return a[0].localeCompare(b[0], undefined, { sensitivity: 'base' });
        });

        sortedVocab.forEach(([de, entry]) => { %>
        <tr data-id="<%= de %>">
          <td><%= de %></td>
          <td><%= entry.other %></td>
          <td><%= entry.points %></td>
          <td><button class="deleteBtn">DELETE</button></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

</body>
</html>
